<div class="banner" data-aos="zoom-in">
  <img src="assets/banners/about.jpg" alt="">
</div>


<section class="pad">
    <div class="breadcrumbs">
      <h1>About <br> the Company</h1>
    </div>

    <p>Logity Dispatch provides dispatching services for owner-operators and truck fleets since 2015.</p>

    <p>We suggest not only searching for loads but an array of services for drivers and carrier companies including billing, document management, and paperwork, broker and shipper communications, SAFETY DOT compliance, and much more</p>

    <p><strong>Drive, deliver, earn; we’ll do all the rest for you.</strong></p>

    <p>One of the uncompromising key points for us is transparency. We have clear pricing with no hidden payments or termination fees. We charge our customers from 5 percent to 10 percent from every load depending on the trailer type they are using: dry van, step deck, reefer, flatbed, or hotshot (only 40’ trailers and CDL drivers).</p>
  
</section>