<div class="banner">
  <img src="assets/banners/success.jpg" alt="">
</div>

<section class="pad">
  <div class="pad d-md-block d-none">
    
    <div class="breadcrumbs">
      <h1>Success Srories</h1>
    </div>
  
    <div class="content-wrapper">
      <h1>How to Start a Trucking Business From Scratch With a Dispatch Service</h1>
      <p> Chris Vanputten, </p>
      <p> CVP TRUCKING LLC </p>
      <p> Chris Vanputten is an owner of the Connecticut-based transport company “CVP Trucking LLC”. The company has been working with Hawkeye Freights & Dispatch since January 2022. For now, CVP Trucking has three box trucks in the fleet. </p>

      <p>When Chris Vanputten became a Hawkeye Freights & Dispatch partner, he was brand-new in transportation service. Our dispatcher found his very first load.</p>
      
      <p>“You gave me a dispatcher; I made a call and he got me a load before I even finished the paperwork for you.”</p>

      <p>Initially, Chris was struggling to drive and search for loads on his own. He had a couple of load boards and tried to get on them, but he was too busy to manage it. At that moment he thought about getting a dispatch partner and Hawkeye Freights & Dispatch was the first one that popped up. </p>

      <p>Chris talked to our dispatcher and got his first load before the paperwork was finished. Hawkeye Freights & Dispatch managers provided him with all the necessary information and helped him to get everything ready.</p>

      <p>“It’s more than just finding a load, you guys take care of me.”</p>

      <p>After six months of cooperation, Chris turned into a successful owner-operator. During this time he had no problems with his personal dispatcher and was never disappointed with the loads he was offered. Now everything he does is driving, and Hawkeye Freights & Dispatch provides all the rest.</p>

      <p> “I need a dispatcher, I’m too busy to sit at a computer. A dispatcher makes it a way easier.”</p>

      <p>If you wish to try dispatcher services, contact our managers and get a free consultation today.</p>

      <h1>How to Raise Trucking Operations Revenue by 20% With a Dispatch Service</h1>
      <p> Alan Fabian, </p>
      <p> Touchstone Logistics </p>
      <p> Alan Fabian is a managing director of Touchstone Logistics. They provide transportation service throughout the Mid-Atlantic and Northeast regions with four dry vans in the fleet. Besides trucking operations, Touchstone Logistics has its own academy where customers are taught to drive a commercial motor vehicle safely and obtain certification according to the ELDT standards after 2-3 months of one-on-one training. </p>

      <p>Before working with Hawkeye Freights & Dispatch, Alan already had experience with dispatch services but wasn’t satisfied with the results. The previous dispatcher did not do a good job of finding loads and charged them 8% gross revenue.</p>

      <p>“We had a prior dispatcher, and when he said I can always go find another dispatcher, I said ok, and that is what I did.”</p>

      <p>Being unhappy with that incompetence, Alan Fabian started searching for a new partner and bumped into Hawkeye Freights & Dispatch. For now, Touchstone Logistics has worked with us for two years already and we keep pursuing their goals together.</p>

      <p>It was quite risky to switch the dispatcher but Alan dared it. He ended up with the previous dispatcher on Friday and on Monday he got started with Hawkeye Freights & Dispatch. It took a week to check references and get everything ready to go.</p>

      <p>Touchstone Logistics has been using our dispatching service since 2020 and has been satisfied with every load Hawkeye Freights & Dispatch offered. Alan and our manager always stay in contact and regularly talk about how to maximize the loads. This way, Touchstone Logistics is always offered high-rate loads that meet its targets.</p>

      <p>“Our revenue per truck is up over 20% since switching dispatchers. Our best weekly result for one truck was over $10,000.”</p>

      <p>Since starting with Hawkeye Freights & Dispatch, the company’s revenue and RPM increased by 20%. The best weekly result for one truck has grown to over $10,000. </p>

      <p>“Hawkeye Freights & Dispatch services’ invoice is 5% but time is money. My time managing the company is more important and your company has industry knowledge. That is important.” </p>

      <p>Alan Fabian is not going to get his in-house full-time dispatcher and believes that it’s always better to outsource expertise to the third-part specialists instead.</p>

      <p>“Hawkeye Freights & Dispatch has never let us down in any circumstance no matter how challenging for us or them.”</p>

      <p>If you desire to try dispatcher services, contact our managers and get a free consultation today.</p>


    </div>

  </div>
</section>