<section class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a routerLink="/"><img src="./assets/logo.png" alt="logo" style="width: 50px; height: 40px;" class="d-lg-none d-block"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <i class="fa-solid fa-bars text-white"></i>
            </button>
            
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li  class="mr-1 d-lg-block d-none"><a routerLink="/"><img src="./assets/logo.png" alt="logo"></a></li>
               
                <li class="nav-item mr-1">
                  <div class="dropdown">
                      <h4 class="drop-text" routerLinkActive="active"><a>About</a><i class="fa fa-angle-down"></i></h4>
                      <div class="dropdown-content" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                          <a routerLink="careers" routerLinkActive="active2">Careers</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="success-stories" routerLinkActive="active2">Success Stories</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="testimonials" routerLinkActive="active2">Testimonials</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="earn-reward" routerLinkActive="active2">Earn Rewards with our Referal Program</a>
                          <!-- <hr style="margin: 0" />
  
                          <a >Videos</a> -->
                      </div>
                  </div>
               </li>
  
                <li class="nav-item mr-1">
                  <div class="dropdown">
                      <h4 class="drop-text">Services <i class="fa fa-angle-down"></i></h4>
                      <div class="dropdown-content" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                          <a routerLink="services/truck-dispatching" routerLinkActive="active2">Truck Dispatching</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="services/billing" routerLinkActive="active2">Billing</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="services/document-management" routerLinkActive="active2">Document Management</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="services/factoring-services" routerLinkActive="active2">Factoring Service</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="services/rate-negotiation" routerLinkActive="active2">Rate Negotiation</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="services/safety" routerLinkActive="active2">Safety & DOT Compliance</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="services/trucker-accounting" routerLinkActive="active2">Trucker Accounting</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="services/trucking-invoice" routerLinkActive="active2">Trucking Invoice Service</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="services/truck-document" routerLinkActive="active2">Truck Document Management</a>
                          <hr style="margin: 0" />
  
                          <a routerLink="services/truck-dispatch" routerLinkActive="active2">Truck Document Dispatch Service</a>
                      </div>
                  </div>
               </li>
  
               <li class="nav-item mr-1">
                  <div class="dropdown">
                      <h4 class="drop-text">Truck Type <i class="fa fa-angle-down"></i></h4>
                      <div class="dropdown-content" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                          <a routerLink="truck-type/dry-van" routerLinkActive="active2">Dry Van</a>
                          <hr style="margin: 0" />
                          
                          <a routerLink="truck-type/reefer" routerLinkActive="active2">Reefer</a>
                          <hr style="margin: 0" />
                          
                          <a routerLink="truck-type/flatbed" routerLinkActive="active2">Flatbed</a>
                          <hr style="margin: 0" />
                          
                          <a routerLink="truck-type/step-deck" routerLinkActive="active2">Step Deck</a>
                          <hr style="margin: 0" />
                          
                          <a routerLink="truck-type/power-only" routerLinkActive="active2">Power Only</a>
                          <hr style="margin: 0" />
                          
                          <a routerLink="truck-type/hotshot" routerLinkActive="active2">Hotshot</a>
                          <hr style="margin: 0" />
                          
                          <a routerLink="truck-type/box-truck" routerLinkActive="active2">Box Truck</a>
                          <hr style="margin: 0" />
                          
                          <a routerLink="truck-type/straight-truck" routerLinkActive="active2">Straight Truck  </a>
                      </div>
                  </div>
               </li>
  
                <li class="nav-item mr-1" data-bs-toggle="collapse" data-bs-target="#navbarContent" routerLinkActive="active" routerLink="how-to-start">How to start</li>
                <li class="nav-item mr-1" data-bs-toggle="collapse" data-bs-target="#navbarContent" routerLinkActive="active" routerLink="FAQ">FAQ</li>
                <li class="nav-item mr-1" data-bs-toggle="collapse" data-bs-target="#navbarContent" routerLinkActive="active" routerLink="contact-us">Contact us</li>
                <li class="nav-item mr-1"><a href="tel:+1302123456" class="nav-item" >(406)-4058608</a></li>
  
            </ul>
            
          </div>
        </div>
      </nav>


</section>