<section class="header">
            
  <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler mt-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars text-white"></i>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li  class="mr-1"><img src="./assets/logo.png" alt="logo"></li>
              <li class="nav-item mr-1">About</li>
              <li class="nav-item mr-1">Services</li>
              <li class="nav-item mr-1">Truck Type</li>
              <li class="nav-item mr-1">How to start</li>
              <li class="nav-item mr-1">Shippers</li>
              <li class="nav-item mr-1">FAQ</li>
              <li class="nav-item mr-1">Contact us</li>
              <li ><a href="tel:+1302123456" class="nav-item">+14064058608</a></li>

          </ul>
      </div>
  </nav>
</section>