<section class="header">
            
  <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler mt-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()" #toggleNotification>
          <i class="fa-solid fa-bars text-white"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': navbarOpen}">
          <ul class="navbar-nav mr-auto" #notificationMenu>
              <li  class="mr-1"><img src="./assets/logo.png" alt="logo"></li>
             
              <li class="nav-item mr-1">
                <div class="dropdown">
                    <h4 class="drop-text" (click)="this.navbarOpen=false;" href="/about">About <i class="fa fa-angle-down"></i></h4>
                    <div class="dropdown-content">
                        <a (click)="this.navbarOpen=false" routerLink="careers">Careers</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false" routerLink="success-stories">Success Stories</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false" routerLink="testimonials">Testimonials</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false" routerLink="earn-reward">Earn Rewards with our Referal Program</a>
                        <!-- <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Videos</a> -->
                    </div>
                </div>
             </li>

              <li class="nav-item mr-1">
                <div class="dropdown">
                    <h4 class="drop-text">Services <i class="fa fa-angle-down"></i></h4>
                    <div class="dropdown-content">
                        <a (click)="this.navbarOpen=false">Truck Dispatching</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Billing</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Document Management</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Factoring Service</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Rabe Negotiation</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Safety & DOT Compliance</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Trucker Accounting</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Trucking Invoice Service</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Truck Document Management</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Truck Document Dispabel Service</a>
                    </div>
                </div>
             </li>

             <li class="nav-item mr-1">
                <div class="dropdown">
                    <h4 class="drop-text">Truck Type <i class="fa fa-angle-down"></i></h4>
                    <div class="dropdown-content">
                        <a (click)="this.navbarOpen=false">Dry Van</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Reefer</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Flafbed</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Step Decle</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Conesloga</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Power Only</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Hotshot</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Box Truck</a>
                        <hr style="margin: 0" />
                        <a (click)="this.navbarOpen=false">Straiget Truck  </a>
                    </div>
                </div>
             </li>

              <li class="nav-item mr-1" (click)="this.navbarOpen=false">How to start</li>
              <li class="nav-item mr-1" (click)="this.navbarOpen=false">Shippers</li>
              <li class="nav-item mr-1" (click)="this.navbarOpen=false">FAQ</li>
              <li class="nav-item mr-1" (click)="this.navbarOpen=false">Contact us</li>
              <li ><a href="tel:+1302123456" class="nav-item" (click)="this.navbarOpen=false">(406)-4058608</a></li>
             
          </ul>
      </div>

    </nav>
</section>