@mixin max($max-width) {
    @media screen and (max-width: #{$max-width}) {
        @content;
    }
}


.header {
    background-color: #f1f1f1;

    nav {
        position: absolute;
        width: 100%;
        z-index: 999;
        padding: 0;
        background-color: #00000094;

        .navbar-toggler {
            color: transparent;
            border: none;
            outline: none;
            margin-left: auto;
            display: none;

            @include max(769px) {
                display: inline-block;
            }
        }

        #navbarContent {
            top: 5px;
            float: right;
            color: #fff;

            &.active,
            .nav-item:hover {
                border-bottom: 1px solid #fff;
                cursor: pointer;
            }

            img {
                cursor: pointer;
            }


        }

        ul {
            line-height: 15px;
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            width: 100%;
            z-index: 100;

            li {
                list-style: none;
                margin-right: 20px;
                color: #fff;
                margin-top: auto;
                margin-bottom: auto;

                img {
                    width: 100px;
                    height: 65px;
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #fbfafa;
                }

                .dropdown {
                    position: relative;
                    display: inline-block;

                    &:hover .dropdown-content {
                        display: block;
                    }

                    .drop-text {
                        font-size: 1rem;
                        margin-bottom: 0;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #000;
                        min-width: 280px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
                        z-index: 1;
                        border-radius: 0 0 5px 5px;

                        a {
                            font-size: 15px;
                            color: rgb(251, 251, 251);
                            padding: 0 8px 0 8px;
                            text-decoration: none;
                            display: block;
                            cursor: pointer;
                            line-height: 40px;
                            width: 100%;

                            &:hover {
                                background-color: #ffffff;
                                color: #000000;
                            }
                        }
                    }
                }

            }
        }
    }
}

.active {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.active2 {
    background-color: rgb(255, 255, 255);
    color: #000 !important;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .header nav .navbar-toggler,
    #navbarContent {
        z-index: 1000;
    }

    #navbarContent {
        color: #fff !important;
        background-color: #000000;
        margin-top: 2px;

    }

    #navbarContent ul {
        padding: 12px;
    }

    #navbarContent ul li {
        padding: 8px;
        color: #ffffff;
    }

    #navbarContent ul li a {
        color: #ffffff;
    }

    #navbarContent ul li:hover,
    #navbarContent ul li a:hover {
        background-color: #cecece;
    }

    .dropdown:hover .dropdown-content {
        margin-top: 10px;
        border: 2px solid #ffffff;
        border-radius: 0 0 5px 5px;
        margin-left: 120px;
    }

}

@media screen and (max-width: 426px) {
    .dropdown:hover .dropdown-content {
        margin-left: 0;
    }

}