<form id="contactForm1" class="form" #f="ngForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h3>Contact us for free setup</h3>


    <label>Full Name <span class="error">*</span></label>
    <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'form-submitted': f.submitted }" >
    <div *ngIf="validator.checkErrors(g['name'], f)" class="error">
      <p *ngIf="g['name'].errors?.['required']">Name is required.</p>
    </div>
    
    <label>Phone number <span class="error">*</span></label>
    <input type="number" class="form-control" formControlName="phone" [ngClass]="{ 'form-submitted': f.submitted }" >
    <div *ngIf="validator.checkErrors(g['phone'], f)" class="error">
      <p *ngIf="g['phone'].errors?.['required']">Phone Number is required.</p>
    </div>
    
    <label>Enter Email <span class="error">*</span></label>
    <input type="email" class="form-control" formControlName="email">
    <div *ngIf="validator.checkErrors(g['email'], f)" class="error">
      <p *ngIf="g['email'].errors?.['required']">Email is required.</p>
      <p *ngIf="g['email'].errors?.['email']">Email is invalid.</p>
    </div>
    
    <div class="mt-2">
        <input type="checkbox" id="agreedCheckbox1" formControlName="terms"><span> I have read and agree to Terms of Service</span>
    </div>
    <div>
        <input type="checkbox" id="notificationCheckbox1" formControlName="notifications"><span> I want to receive the most useful tips and news</span>
    </div>
    <div *ngIf="validator.checkErrors(g['terms'], f) || validator.checkErrors(g['notifications'], f)" class="error">
      <p>You Should Check both of them.</p>
    </div>


    <div class="button mt-2">
        <button class="btn btn-lg btn-danger" type="submit" [disabled]="loading"> Send Request <div class="loader" *ngIf="loading"></div> </button>
    </div>
  </form>