<footer>
  <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10">
          <div class="top-sec">
              <div class="title">
                  <h3>The most useful articles, tips, and analysis for truckers. Twice a month.</h3>
                  <form id="newLetterForm" class="wrapper-form">
                      <input type="text" placeholder="Email Address" name="email">
                      <button type="submit">Subscribe</button>
                  </form>
              </div>
          </div>
  
          <div class="middle-sec">
              <div class="wrapper">
                  <ul>
                      <li style="margin-bottom: 1.5rem;">Links</li>
                      <li>About Us</li>
                      <li>Contact Us</li>
                      <li>Service & pricing</li>
                      <li>Truck Types</li>
                      <li>Terms Of Service</li>
                  </ul>
                  <ul>
                      <li style="margin-top: 3.5rem;">FAQ</li>
                      <li>How to start</li>
                      <li>Testimonials</li>
                      <li>Blogs</li>
                      <li>Privacy Policy</li>
                  </ul>
                  <ul>
                      <li style="margin-bottom: 1.5rem;">Contacts</li>
                      <li>+14064058608</li>
                      <li>info@hawkeyefreights.com</li>
                  </ul>
              </div>
          </div>
  
          <div class="bottom-sec">
              <p>All Rights Reserved</p>
          </div>

      </div>
  </div>
</footer>