<footer class="pad">
    <div class="top-sec">
        <div class="title">
            <h3>The most useful articles, tips, and analysis for truckers. Twice a month.</h3>
            <form id="newLetterForm" class="wrapper-form">
                <input type="text" placeholder="Email Address" name="email" [(ngModel)]="email">
                <button type="submit" [disabled]="loader" (click)="subscribe()">Subscribe <div class="loader1" *ngIf="loader"></div> </button>
            </form>
        </div>
    </div>

    <div class="middle-sec">
        <div class="wrapper">
            <ul>
                <li style="margin-bottom: 1.5rem;">Links</li>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Service & pricing</li>
                <li>Truck Types</li>
                <li>Terms Of Service</li>
            </ul>
            <ul>
                <li style="margin-top: 3.5rem;">FAQ</li>
                <li>How to start</li>
                <li>Testimonials</li>
                <li>Blogs</li>
                <li>Privacy Policy</li>
            </ul>
            <ul>
                <li style="margin-bottom: 1.5rem;">Contacts</li>
                <li><i class="fa-solid fa-phone"></i> (406)-4058608</li>
                <li><i class="fa-solid fa-envelope"></i> info@hawkeyefreights.com</li>
            </ul>
        </div>
    </div>

    <div class="bottom-sec">
        <p>All Rights Reserved</p>
    </div>

</footer>