footer {
    width: 100%;
    background: #000;
    // padding: 30px 0;

    .top-sec {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;

        .title {
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;

            h3 {
                color: #fff;
                font-size: 18px;
            }

            .wrapper-form {
                width: 45%;
                margin: auto;
                display: flex;
                margin-bottom: 2rem;

                input {
                    flex: 1;
                    padding: 7px 10px;
                }

                button {
                    border: 0;
                    background: red;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .loader1 {
                      width: 40px;
                      margin: 7px 0 0 3px;
                      aspect-ratio: 4;
                      background: radial-gradient(circle closest-side,#ffffff 90%,#0000) 0/calc(100%/3) 100% space;
                      clip-path: inset(0 100% 0 0);
                      animation: l1 1s steps(4) infinite;
                    }
                    @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}
                }

            }
        }
    }

    .middle-sec {
        width: 100%;
        margin-top: 50px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;

        .wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            ul {
                color: #fff;
                font-weight: 500;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    .bottom-sec {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        color: #fff;
    }
}

@media screen and (max-width: 426px) {
    footer .middle-sec {
        width: 100%;
    }

    footer .middle-sec .wrapper .logo,
    footer .middle-sec .wrapper .logo img {
        width: 100% !important;
    }

    footer .top-sec .title .wrapper-form {
        width: 100%;
    }

    footer .middle-sec ul {
        width: 100%;
    }

}