<div class="row mt-2">
  <div class="col-12">
      <table class="table" id="tableData">
          <thead>
            <tr>
              <th >#</th>
              <th class="text-center">Name</th>
              <th class="text-center">Email</th>
              <th class="text-center">Phone Number</th>
              <th class="text-center">Nofication</th>
            </tr>
          </thead>
          <tbody *ngIf="!loader">
              <tr *ngFor="let data of queries; let i = index">
                  <td>{{ i+1 }}</td>
                  <td class="text-center">{{ data.name }}</td>
                  <td class="text-center">{{ data.email }}</td>
                  <td class="text-center">{{ data.phone }}</td>
                  <td class="text-center">{{ data.agreed==0?'No':'Yes' }}</td>
              </tr>
          </tbody>
          <tbody *ngIf="loader" [tableLoader]="loaderOptions"></tbody>
        </table>
  </div>
</div>