header {
    padding: 1rem;
    background-color: #1c128e;
    color: #707070;

    .toggle {
        color: #F6F5FF;
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        z-index: 10000;
    }

    .right-side {
        display: inline-block;

        i {
            color: #fff;
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 4px 6px;
            font-size: 1.1rem;
            cursor: pointer;
            margin-right: 10px;

            &:hover {
                background-color: #8c8c8c;
                border: 1px solid #494949;
            }
        }
    }
}