.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    .card{
        width: 32%;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    img{
        width: 90px;
        height: 90px;
    }
}