<div class="banner">
  <img src="assets/banners/testimonials.jpg" alt="">
</div>

<section class="pad">
    <div class="breadcrumbs">
      <h1>Testimonials</h1>
    </div>

    <div class="wrapper">
      <div class="item" *ngFor="let item of count">
        <div class="img"data-aos="fade-right">
            <img src="assets/testimonials.jpg" alt="">
        </div>
        <div class="txt"data-aos="fade-left">
            <h1>Jay Sanders</h1>
            <h3>MC # 104970</h3>
            <p>Place my trucking business in Logity Dispatch's hands and haven't needed another dispatcher since. Outstanding Communication, very knowledgeable of the business, and they don't break the bank on percentage. Worth way more than other companies charging 10+ percent. Thank you, guys. </p>
        </div>
      </div>
    </div>
    
</section>