

<section>
  <video src="/assets/hero-video.mp4" [autoplay]="true" [loop]="true" [muted]="true" playsinline [preload]="true"></video>

  <div class="row">
    <div class="col-12">
      <form #f="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        <h1 class="text-center">Login</h1> 
        
        <label>Enter Email <span class="error">*</span></label>
        <input type="email" class="form-control" formControlName="email">
        <div *ngIf="validator.checkErrors(g['email'], f)" class="error">
          <p *ngIf="g['email'].errors?.['required']">Email is required.</p>
          <p *ngIf="g['email'].errors?.['email']">Email is invalid.</p>
        </div>

        <label class="mt-2">Enter Password <span class="error">*</span></label>
        <input type="password" class="form-control" formControlName="password">
        <div *ngIf="validator.checkErrors(g['password'], f)" class="error">
          <p *ngIf="g['password'].errors?.['required']">Password is required.</p>
        </div>
        
        <div class="error" *ngIf="loginError">
          <p>Invalid Email or Password</p>
        </div>
  
        <div class="button">
            <button class="btn" type="submit" [disabled]="loading">
              <i class="fa-regular fa-paper-plane" style="margin-top: 5px; margin-right: 5px;"></i>
              Submit 
              <div class="loader" *ngIf="loading"></div> 
            </button>
        </div>
      </form>
      
    </div>
  </div>
</section>