

<section>
  <div class="row">
    <div class="col-12">
      <form #f="ngForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <h1 class="text-center">Change Password</h1> 
        
        <label class="mt-2">Old Password <span class="error">*</span></label>
        <input type="oldPassword" class="form-control" formControlName="oldPassword">
        <div *ngIf="validator.checkErrors(g['oldPassword'], f)" class="error">
          <p *ngIf="g['oldPassword'].errors?.['required']">Old Password is required.</p>
        </div>

        <label class="mt-2">New Password <span class="error">*</span></label>
        <input type="newPassword" class="form-control" formControlName="newPassword">
        <div *ngIf="validator.checkErrors(g['newPassword'], f)" class="error">
          <p *ngIf="g['newPassword'].errors?.['required']">New Password is required.</p>
        </div>
        
        <label class="mt-2">Confirm Password <span class="error">*</span></label>
        <input type="newPassword_confirmation" class="form-control" formControlName="newPassword_confirmation">
        <div *ngIf="validator.checkErrors(g['newPassword_confirmation'], f)" class="error">
          <p *ngIf="g['newPassword_confirmation'].errors?.['required']">Password Confirmation is required.</p>
        </div>
        
        <div class="error" *ngIf="passwrodError">
          <p>Password does not match.</p>
        </div>

        <div class="button">
            <button class="btn" type="submit" [disabled]="loading">
              <i class="fa-regular fa-paper-plane" style="margin-top: 5px; margin-right: 5px;"></i>
              Submit 
              <div class="loader" *ngIf="loading"></div> 
            </button>
        </div>
      </form>
      
    </div>
  </div>
</section>