
<div class="banner">
  <img src="assets/banners/careers.jpg" alt="">
</div>

<section class="pad">
    <div class="breadcrumbs">
      <h1>Truck Dispatching</h1>
    </div>

    <div class="row">
      <div class="col-md-6 main-points">
        <div>
          <i class="fa-solid fa-check text-danger"></i>
          <span>No forced dispatch and hidden payments</span>
        </div>
        
        <div>
          <i class="fa-solid fa-check text-danger"></i>
          <span>Personal dispatcher with 24 / 7 support</span>
        </div>
        
        <div>
          <i class="fa-solid fa-check text-danger"></i>
          <span>From 5% of gross</span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="col-lg-6">
          <form id="contactForm1" class="form" method="POST">
              <h3>Contact us for free setup</h3>
              
              <label for="full-name" class="mt-2">Full name</label>
              <input type="text" class="form-control" name="name">
              
              <label for="phone-number" class="mt-2">Phone number</label>
              <input type="number" class="form-control" name="phone">
      
              <label for="email" class="mt-2">Email</label>
              <input type="email" class="form-control" name="email">
      
              <div class="mt-2">
                  <input type="checkbox" id="agreedCheckbox1" name="agreed"><span> I have read and agree to <a href="#">Terms of Service</a></span>
              </div>
              <div>
                  <input type="checkbox" id="notificationCheckbox1" name="wantToReceiveNotifications"><span> I want to receive the most useful tips and news</span>
              </div>
              <div class="mt-2">
                  <button type="submit" class="btn btn-lg btn-danger">Send Request</button>
              </div>
          </form>
      </div>
      </div>
    </div>

    <h3 class="mt-3">Truck Dispatching: Keeping Your Business Moving So You Can Focus on Driving</h3>

    <p> Here at Hawkeye Freights and Dispatch, we are proud to be the truck dispatcher company you can rely on. </p>
    <p> Your truck driving and logistics business needs to be supported by the right truck driver dispatcher services. This is where Here at Hawkeye Freights and Dispatch can make all of the difference. </p>
    <p> Based out of KALISPELL, MONTANA, we provide these services to trucking operators across the country. This means you can continue providing your critical trucking services, supporting our society and our economy with your logistics. </p>
    <p> Get in touch with us by email or by telephone to get started. Our team is on hand to provide you the quote you need for your business, and to help you learn more about working with Here at Hawkeye Freights and Dispatch. Supporting your trucking operation is our passion. </p>

    <h3>Choose Your Truck Type</h3>

    <div class="d-flex justify-content-between flex-wrap">
      <div class="turck">Dry Van</div>
      <div class="turck">Step Deck</div>
      <div class="turck">Reefer</div>
      <div class="turck">Flatbed</div>
      <div class="turck">Power Only</div>
      <div class="turck">Hotshot</div>
      <div class="turck">Boxtruck</div>
      <div class="turck">Straight Truck</div>
    </div>
</section>