<div class="banner">
  <img src="assets/banners/t1.webp" alt="">
</div>

<section class="pad">

    <div class="row mb-5">
      <div class="col-md-6 main-points" data-aos="fade-right">
          <div class="breadcrumbs"> <h1>Flatbed</h1> </div>
          <div class="item"> <i class="fa-solid fa-check text-danger"></i> <span></span> </div>
          <div class="item"> <i class="fa-solid fa-check text-danger"></i> <span></span> </div>
          <div class="item"> <i class="fa-solid fa-check text-danger"></i> <span></span> </div>
      </div>
  
      <div class="col-md-6 d-flex justify-content-end" data-aos="fade-left">
        <app-form></app-form>
      </div>
  </div>

  </section>