<div class="banner" data-aos="zoom-in">
  <img src="assets/banners/how-to-start.webp" alt="">
</div>

<section class="pad">
  <div class="breadcrumbs">
    <h1>How To Start</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h1 style="font-weight: 700; font-size: 3.5rem; color: red;">Step #1</h1>
      <p>If you:</p>
      <li>• Have an MC number for at least three months</li>
      <li>• Have an equipment we work with</li>
      <li>• Ready to travel interstate</li>
    </div>
    
    <div class="col-md-6">
      <h1 style="font-weight: 700; font-size: 3.5rem; color: red;">Step #2</h1>
      <p>Apply using this form or by phone call: <a href="tel:+1302123456" class="phone-number btn">+1(405)-4068608</a></p>
    </div>
    
    <div class="col-md-6">
      <h1 style="font-weight: 700; font-size: 3.5rem; color: red;">Step #3</h1>
      <p>Prepare the necessary documents:</p>
      <li>• W9 form (Request for Taxpayer Identification Number and Certification)</li>
      <li>• Insurance (certificate with liability cargo policies with us listed as a certificate holder).</li>
    </div>
    
    <div class="col-md-6">
      <h1 style="font-weight: 700; font-size: 3.5rem; color: red;">Step #3</h1>
      <p>Sign the dispatch agreement. It is the basis for our services that comes along with limited PoA. It gives us a right to represent the customer's company on its behalf among different people.</p>
    </div>
    
    <div class="col-md-6">
      <h1 style="font-weight: 700; font-size: 3.5rem; color: red;">Step #3</h1>
      <p>We are all set. Let’s get to work.</p>
    </div>

  </div>
  
</section>