<div class="banner">
  <img src="assets/banners/contactUs.webp" alt="">
</div>


<section class="pad">
    <div class="breadcrumbs">
      <h1>Contact Us</h1>
    </div>

    <div class="row mb-5">
      <div class="col-md-6" style="background-color: #000; color: #fff;padding: 2rem 5rem;">
          <h3>YOUR CONVENIENCE <br> IS OUR #1 PRIORITY</h3>

          <hr class="bg-light mt-5 mb-5">

          <p class="mb-4"> Head Office </p>
          <p class="mb-3">Phone</p>
          <h4 class="mb-4">(406)-4058608</h4>
          <p class="mb-3">E-mail</p>
          <h4 >info@logitydispatch.com</h4>

      </div>

      <div class="col-md-6 d-flex justify-content-start" style="background-color: #fff;">
        <app-form></app-form>
      </div>
    </div>
    
</section>