footer {
    width: 100%;
    background: #000;
    padding: 30px 0;
}

footer .top-sec {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

footer .top-sec .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

footer .top-sec .title h3 {
    color: #fff;
    font-size: 18px;
}

footer .top-sec .title .wrapper-form {
    width: 45%;
    margin: auto;
    display: flex;
    margin-bottom: 2rem;
}

footer .top-sec .title .wrapper-form input {
    flex: 1;
    padding: 7px 10px;
}

footer .top-sec .title .wrapper-form button {
    border: 0;
    background: red;
    color: #fff;
    /* padding: 0 20px; */
}

footer .middle-sec {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

footer .middle-sec .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .middle-sec .wrapper ul {
    color: #fff;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .bottom-sec {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}