@mixin max($max-width) {
    @media screen and (max-width: #{$max-width}) {
        @content;
    }
}

.before::before {
    content: '';
    position: absolute;
    top: 60px;
    width: 100px;
    height: 5px;
    color: red;
    background-color: red;

    @include max(768px) {
        top: 25px
    }

    @include max(768px) {
        top: 25px
    }
}

.getStart-section {
    margin: 3rem 0;
    position: relative;

    .content {
        padding-right: 2rem;

        p {
            font-weight: 400;
            font-size: 15px;
            font-family: Logity, sans-serif;
        }

        ul li {
            display: flex;
            justify-content: space-between;
            position: relative;

            &:hover {
                span:nth-child(1) {
                    background-color: #fff !important;
                }

                span:nth-child(2) {
                    background-color: red;
                    color: #fff;
                }
            }


            span:nth-child(1) {
                width: 100%;
                padding: 12px 0px 0px 12px;
            }

            span:nth-child(2) {
                color: red;
                height: 100%;
                width: 50px;
                font-size: 2rem;
                padding-left: 12px;
            }
        }

    }

}