

<span class="getStart-section pad mb-5">
    <span class="d-flex justify-content-between heading">
        <h2 class="before" data-aos="fade-right"> How to Get Started</h2>        
        <a href="#" data-aos="fade-left">Read more &nbsp;&nbsp;+</a>
    </span>
    <div class="row">
        <div class="col-lg-6 content" data-aos="fade-right">
            <p>Hawkeye Dispatch's job is to provide the best loads in the market for every driver. Our expert team ensures that drivers from any region and state get high-quality and best-paying loads.</p>
            <ul class="p-0">
                <li><span>01- Fill out the form or call us: +14064058608</span> <span>></span></li>
                <li><span>02- Upload your MC Authority, W9 Form, and Certificate of Insurance</span> <span>></span></li>
                <li><span>03- Sign the Dispatch Agreement completed by our team</span> <span>></span></li>
                <li><span>04- We are all set. Let’s get to work</span> <span>></span></li>
            </ul>
        </div>
        <div class="col-lg-6 d-flex justify-content-end" data-aos="fade-left">
            <app-form></app-form>
        </div>
    </div>

</span>