// Google Font Poppins
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

// * {
//     font-family: 'Poppins', sans-serif;
//     margin: 0;
//     box-sizing: border-box !important;
// }
@mixin max($max-width) {
    @media screen and (max-width: #{$max-width}) {
        @content;
    }
}


ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(139, 226, 255, 0.644);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(108, 201, 232, 0.671);
}


* {
    margin: 0;
    box-sizing: border-box !important;
    --bs-gutter-x: 0 !important;
}

:root {
    --animate-duration: 1000ms;
    --animate-delay: 0.9s;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: #EEF0F3;
}

.toast-container .ngx-toastr {
    top: 50px;
    background-color: #FFF;
    color: #707070;
    border-radius: 10px;

    span {
        font-size: 1.5rem;
        color: "#707070";
    }
}

.toast-success {
    border-left: 5px solid green;

    .toast-progress {
        background: green;
    }
}

.toast-error {
    border-left: 5px solid red;

    .toast-progress {
        background: red;
    }
}

.toast-warning {
    border-left: 5px solid rgb(255, 196, 0);

    .toast-progress {
        background: rgb(221, 206, 2);
    }
}

.heading {
    .before {
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 4rem;
        color: #000000;

        @include max(768px) {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        @include max(425px) {
            font-size: 1.5rem;
        }
    }

    a {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 5rem;
        color: red;

        @include max(425px) {
            font-size: 1rem;
        }

        &:hover {
            opacity: .8;
        }
    }
}

.before::before {
    content: '';
    position: absolute;
    top: 35px;
    width: 60px;
    height: 5px;
    color: red;
    background-color: red;

    @include max(768px) {
        top: 25px
    }

    @include max(768px) {
        top: 25px
    }
}

.pad {
    padding: 3rem 15rem;

    @include max(1025px) {
        padding: 3rem 3rem;
    }

    @include max(769px) {
        padding: 2rem 2rem;
    }

    @include max(425px) {
        padding: 2rem 0;
    }
}

.form {
    background-color: #fff;
    padding: 40px 30px;
    width: 450px;

    @include max(1024px) {
        max-width: 100%;
    }

    @include max(768px) {
        width: 100%;
        margin-top: 2rem;
    }


    &.main-form {
        @include max(768px) {
            width: 425px !important;
        }

        @include max(425px) {
            display: none;
        }
    }

    .btn.btn-danger {
        border-color: #ff1414;
        background-color: #ff1414;
        color: #fff;
        border-radius: 0%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.banner{
    width: 100%;
    height: 250px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}