// Google Font Poppins
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import url('/src/assets/variables.scss');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box !important;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(139, 226, 255, 0.644);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(108, 201, 232, 0.671);
}


* {
    margin: 0;
    box-sizing: border-box !important;
    --bs-gutter-x: 0 !important;
}

:root {
    --animate-duration: 1000ms;
    --animate-delay: 0.9s;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: #EEF0F3 !important;
}

.before::before {
    content: '';
    position: absolute;
    top: 35px;
    width: 60px;
    height: 5px;
    color: red;
    background-color: red;
}











/* Media Query for Small Laptop */
@media screen and (max-width: 1024px) {
    .form {
        max-width: 100%;
    }
}


/* Media Query for Tab */
@media screen and (max-width: 768px) {
    .hero .content .text .title {
        font-size: 2.5rem;
    }

    .form {
        width: 450px;
    }

    .hero .content {
        top: 70px;
    }

    .testimonials .wrapper .img {
        width: 35%;
    }

    .header nav .navbar-toggler,
    #navbarSupportedContent {
        z-index: 1000;
    }

    #navbarSupportedContent {
        color: #fff;
        background-color: #EEF0F3 ;
        margin-top: 2px;
    }
    #navbarSupportedContent ul {
        padding: 12px;
    }
    
    #navbarSupportedContent ul li{
        padding: 8px;
        color: #000;
    }

    #navbarSupportedContent ul li a {
        color: #000;
    }
    
    #navbarSupportedContent ul li:hover,
    #navbarSupportedContent ul li a:hover {
        background-color: #fff;
    }
}


/* Media Query for Mobile */
@media screen and (max-width: 426px) {
    .form {
        margin-top: 8rem;
        max-width: 320pxpx;
    }

    .services {
        margin-top: 7rem;
    }

    .services .service-container .service-card {
        min-height: 96%;
    }

    .work-with-us .wrapper {
        grid-template-columns: 3fr !important;
    }

    .testimonials .wrapper {
        flex-wrap: wrap;
    }

    .testimonials .wrapper .img {
        width: 100%;
    }

    footer .middle-sec {
        width: 100%;
    }
    
    footer .middle-sec .wrapper .logo,
    footer .middle-sec .wrapper .logo img {
        width: 100% !important;
    }

    footer .top-sec .title .wrapper-form {
        width: 100%;
    }

    footer .middle-sec ul {
        width: 100%;
    }

}