@mixin max($max-width) {
    @media screen and (max-width: #{$max-width}) {
        @content;
    }
}

*{
    --bs-gutter-x: 0 !important;
}


/* Hero section */
.hero {
    min-height: 100vh;
    position: relative;

    video {
        width: 100%;
        height: 100vh !important;
        object-fit: cover;
    }

    .content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        position: absolute;
        top: 15vh;

        @include max(769px) {
            top: 70px;
        }

        .text .title {
            font-size: 5rem;
            font-weight: 700;
            color: #fff;

            @include max(769px) {
                font-size: 2.5rem;
            }
        }

        .phone-number {
            background-color: red;
            display: inline-block;
            color: #fff;
        }
    }


}









/* Service section */
.services {
    position: relative;

    @include max(425px) {
        margin-top: 7rem;
    }

    .service-container {
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;

        .service-card {
            margin-bottom: 20px;
            background-color: #000;
            width: 97%;
            display: flex;
            min-height: 200px;
            justify-content: space-between;
            color: #fff;
            padding: 20px;
            position: relative;

            &:hover {
                img {
                    transition: opacity 1s ease;
                    opacity: 1;
                    z-index: 1;
                    transition: 1s;
                }

                .plus {
                    display: none;
                }

                .plus1 {
                    background-color: red;
                    color: #fff;
                    height: 100%;
                    width: 100px;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    font-family: 100;

                }
            }


            .wrapper {
                position: relative;
                z-index: 2;

                .service-count {
                    font-weight: 800;
                    font-size: 3rem;
                }

                .text {
                    font-weight: 700;
                    font-size: 1.5rem;
                }
            }


            .plus1 {
                display: none;
            }

            .plus,
            .plus1 {
                font-size: 3rem;
                color: red;
                font-weight: 900;
                position: absolute;
                z-index: 2;
                top: 50%;
                right: 20px;
                transform: translate(0, -50%);
            }

            img {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }
    }

}




/* Count section */
.count-section {
    background-image: url(/assets/count_bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3rem;
    position: relative;

    h2 {
        color: #fff;
    }

    .wrapper {
        padding: 0 4rem;

        @include max(769px) {
            padding: 0 2rem;
        }

        @include max(426px) {
            padding: 1rem 2rem;
        }

        i {
            color: green;
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        .count-num {
            font-size: 3rem;
            font-weight: 600;
            margin: 0;
        }
    }



}




.getStart-section {
    margin-bottom: 3rem;
    position: relative;

    .content {
        padding-right: 2rem;

        p {
            font-weight: 400;
            font-size: 15px;
            font-family: Logity, sans-serif;
        }

        ul li {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            position: relative;

            &:hover {
                span:nth-child(1) {
                    background-color: #fff !important;
                }

                span:nth-child(2) {
                    background-color: red;
                    color: #fff;
                }
            }


            span:nth-child(1) {
                width: 100%;
                padding: 12px 0px 0px 12px;
            }

            span:nth-child(2) {
                color: red;
                height: 100%;
                width: 50px;
                font-size: 2rem;
                padding-left: 12px;
            }
        }

    }

}




/* work-with-us section*/
.work-with-us {
    width: 100%;
    background: #000;
    position: relative;

    h2 {
        font-weight: 600;
        color: #fff;
    }

    .wrapper {
        margin-top: 80px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .box {
            width: 31%;
            height: 230px;
            background: #fff;
            position: relative;

            @include max(768px) {
                width: 30%;
            }

            @include max(425px) {
                width: 100%;
            }

            &:hover {
                .overlay {
                    opacity: 0;
                }

                a {
                    background: red;
                    color: #fff;

                    span {
                        opacity: 1;
                    }
                }

            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
                transition: opacity .3s;
            }

            a {
                position: absolute;
                bottom: 15px;
                left: -13px;
                padding: 7px 50px 7px 40px;
                background: transparent;
                color: #fff;
                font-size: 2rem;
                font-weight: 700;
                z-index: 4;
                background: transparent;
                display: flex;
                transition: ease-in 0.3s;

                &:hover {
                    cursor: pointer;
                }

                span {
                    opacity: 0;
                    font-size: 2rem;
                    font-weight: 700;
                    margin-left: 1.5rem;
                }
            }
        }
    }

}




/* Testimonial section */
.testimonials {
    width: 100%;
    position: relative;

    .wrapper {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;

        .img {
            width: 40%;
            min-height: 100%;

            @include max(769px) {
                width: 35%;
            }

            @include max(426px) {
                width: 100%;
            }


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .txt {
            padding: 30px 50px;
            background: #000;
            width: 60%;
            min-height: 100%;

            @include max(769px) {
                width: 65%;
            }

            @include max(426px) {
                width: 100%;
            }

            h1 {
                font-size: 3.6rem;
                color: #fff;
                margin-bottom: 1.5rem;
            }

            h3 {
                font-size: 15px;
                color: #94a9cb;
                font-weight: 500;
                margin-bottom: 3rem;
            }

            p {
                font-size: 15px;
                color: #fff;
            }
        }
    }

}