<section class="hero">
  <div class="row">
      <video src="../../../assets/hero-video.mp4" loop muted autoplay playsinline preload></video>
      
      <div class="content">
          <div class="col-lg-4 col-md-3 col-12">
              <div class="text">
                  <p class="title animate__bounce">Freight <br>Dispatch <br> Service</p>
                  <a href="tel:+1302123456" class="phone-number btn">+14064058608</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
              <form id="contactForm" class="form" method="POST" >
                  <h3>Contact us for free setup</h3>
                  
                  <label for="full-name" class="mt-2">Full name</label>
                  <input type="text" class="form-control" name="name">
                  
                  <label for="phone-number" class="mt-2">Phone number</label>
                  <input type="number" class="form-control" name="phone">
          
                  <label for="email" class="mt-2">Email</label>
                  <input type="email" class="form-control" name="email">
          
                  <div class="mt-2">
                      <input type="checkbox" id="agreedCheckbox" name="agreed"><span> I have read and agree to <a href="#">Terms of Service</a></span>
                  </div>
                  <div>
                      <input type="checkbox" id="notificationCheckbox" name="wantToReceiveNotifications"><span> I want to receive the most useful tips and news</span>
                  </div>
                  <div class="mt-2">
                      <button type="submit" class="btn btn-lg btn-danger">Send Request</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

</section>



<section class="services">
  <div class="row d-flex justify-content-center">
      <div class="col-lg-10 col-12">
          <div class="d-flex justify-content-between">
              <h2 class="before" data-aos="fade-right"> Services <br/> and pricing </h2>        
              <h2 class="text-danger" data-aos="fade-left"> From 5% <br/> of gross </h2>        
          </div>

          <div class="row service-container" data-aos="fade-out">
              <div class="col-6">
                  <div class="service-card">
                      <span class="wrapper">
                          <p class="service-count">01</p>
                          <span class="text">Truck <br> dispatching</span>
                      </span>
                      <span class="plus"> + </span>
                      <span class="plus1"> > </span>
                      <img src="../../assets/services/s1.webp" alt="">
                  </div>
              </div>
              <div class="col-6">
                  <div class="service-card">
                      <span class="wrapper">
                          <p class="service-count">02</p>
                          <span class="text">Billing</span>
                      </span>
                      <span class="plus"> + </span>
                      <span class="plus1"> > </span>
                      <img src="./assets/services/s2.webp" alt="">
                  </div>
              </div>
              <div class="col-6">
                  <div class="service-card">
                      <span class="wrapper">
                          <p class="service-count">03</p>
                          <span class="text">Document Management <br/> & Paperwork</span>
                      </span>
                      <span class="plus"> + </span>
                      <span class="plus1"> > </span>
                      <img src="./assets/services/s3.webp" alt="">
                  </div>
              </div>
              <div class="col-6">
                  <div class="service-card">
                      <span class="wrapper">
                          <p class="service-count">04</p>
                          <span class="text">Factoring service</span>
                      </span>
                      <span class="plus"> + </span>
                      <span class="plus1"> > </span>
                      <img src="./assets/services/s4.webp" alt="">
                  </div>
              </div>
              <div class="col-6">
                  <div class="service-card">
                      <span class="wrapper">
                          <p class="service-count">05</p>
                          <span class="text">Rate negotiation</span>
                      </span>
                      <span class="plus"> + </span>
                      <span class="plus1"> > </span>
                      <img src="./assets/services/s5.webp" alt="">
                  </div>
              </div>
              <div class="col-6">
                  <div class="service-card">
                      <span class="wrapper">
                          <p class="service-count">06</p>
                          <span class="text">SAFTY / DOT compliance</span>
                      </span>
                      <span class="plus"> + </span>
                      <span class="plus1"> > </span>
                      <img src="./assets/services/s6.webp" alt="">
                  </div>
              </div>
              <div class="col-6">
                  <div class="service-card">
                      <span class="wrapper">
                          <p class="service-count">07</p>
                          <span class="text">IFTA</span>
                      </span>
                      <span class="plus"> + </span>
                      <span class="plus1"> > </span>
                      <img src="./assets/services/s7.webp" alt="">
                  </div>
              </div>
              <div class="col-6">
                  <div class="service-card">
                      <span class="wrapper">
                          <p class="service-count">08</p>
                          <span class="text">Company Formation</span>
                      </span>
                      <span class="plus"> + </span>
                      <span class="plus1"> > </span>
                      <img src="./assets/services/s8.webp" alt="">
                  </div>
              </div>
          </div>

      </div>
  </div>
  
</section>




<section class="count-section">
  <div class="row d-flex justify-content-center">
      <div class="col-lg-10 col-12">
          <h2 class="before" data-aos="fade-right"> To work <br/> not talk</h2>        

          <div class="row d-flex justify-content-center">
              <div class="col-md-3 text-white">
                  <i class="fa-solid fa-car"></i>
                  <p class="count-num">$5000+</p>
                  <p class="count-text">Loads Booked</p>
              </div>
              <div class="col-md-3 text-white">
                  <i class="fa-solid fa-house"></i>
                  <p class="count-num">$5000+</p>
                  <p class="count-text">Average Gross Revenue</p>
              </div>
              <div class="col-md-3 text-white">
                  <i class="fa-solid fa-book"></i>
                  <p class="count-num">$5000+</p>
                  <p class="count-text">Mln Lbs Dispatched</p>
              </div>
          </div>
      </div>
  </div>
</section>



<section class="getStart-section">
  <div class="row d-flex justify-content-center">
      <div class="col-lg-10 col-12">
          <span class="d-flex justify-content-between heading">
              <h2 class="before" data-aos="fade-right"> How to Get Started</h2>        
              <a href="#" data-aos="fade-left" >Read more &nbsp;&nbsp;+</a>
          </span>

          <div class="row">
             <div class="col-md-6 content" data-aos="fade-right">
                  <p>Hawkeye Dispatch's job is to provide the best loads in the market for every driver. Our expert team ensures that drivers from any region and state get high-quality and best-paying loads.</p>
                  <ul class="p-0">
                      <li><span>01- Fill out the form or call us: +14064058608</span> <span>></span></li>
                      <li><span>02- Upload your MC Authority, W9 Form, and Certificate of Insurance</span> <span>></span></li>
                      <li><span>03- Sign the Dispatch Agreement completed by our team</span> <span>></span></li>
                      <li><span>04- We are all set. Let’s get to work</span> <span>></span></li>
                  </ul>
              </div>
             
             <div class="col-md-6" data-aos="fade-left">
              <form id="contactForm1" class="form" method="POST">
                  <h3>Contact us for free setup</h3>
                  
                  <label for="full-name" class="mt-2">Full name</label>
                  <input type="text" class="form-control" name="name">
                  
                  <label for="phone-number" class="mt-2">Phone number</label>
                  <input type="number" class="form-control" name="phone">
          
                  <label for="email" class="mt-2">Email</label>
                  <input type="email" class="form-control" name="email">
          
                  <div class="mt-2">
                      <input type="checkbox" id="agreedCheckbox1" name="agreed"><span> I have read and agree to <a href="#">Terms of Service</a></span>
                  </div>
                  <div>
                      <input type="checkbox" id="notificationCheckbox1" name="wantToReceiveNotifications"><span> I want to receive the most useful tips and news</span>
                  </div>
                  <div class="mt-2">
                      <button type="submit" class="btn btn-lg btn-danger">Send Request</button>
                  </div>
              </form>
             </div>
          </div>
      </div>
  </div>
</section>



<section class="work-with-us">
  <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10">
          <div class="title" data-aos="fade-right">
              <h1>Who can <br> work with us</h1>
          </div>
  
          <div class="wrapper" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
              <div class="box">
                  <img src="https://logitydispatch.com/wp-content/uploads/2023/11/Trucks.webp" alt="Dry Van">
                  <div class="overlay"></div>
                  <a href="\">Dry Van
                      <svg>
                          <use xlink:href="#arrow-right"></use>
                      </svg>
                  </a>
              </div>
  
              <div class="box">
                  <img src="https://logitydispatch.com/wp-content/uploads/2020/10/home-trucks-img-2.jpg"
                      alt="home trucks img 2">
                  <div class="overlay"></div>
                  <a href="\">Step Deck
                      <svg>
                          <use xlink:href="#arrow-right"></use>
                      </svg>
                  </a>
              </div>
  
              <div class="box">
                  <img src="https://logitydispatch.com/wp-content/uploads/2020/10/home-trucks-img-3.jpg"
                      alt="home trucks img 3">
                  <div class="overlay"></div>
                  <a href="\">Reefer
                      <svg>
                          <use xlink:href="#arrow-right"></use>
                      </svg>
                  </a>
              </div>
  
              <div class="box">
                  <img src="https://logitydispatch.com/wp-content/uploads/2020/10/home-trucks-img-4-1.jpg"
                      alt="home trucks img 4">
                  <div class="overlay"></div>
                  <a href="\">Flatbed
                      <svg>
                          <use xlink:href="#arrow-right"></use>
                      </svg>
                  </a>
              </div>
  
              <div class="box">
                  <img src="https://logitydispatch.com/wp-content/uploads/2021/02/img-power-only-2.jpg" alt="Truck">
                  <div class="overlay"></div>
                  <a href="\">Power Only
                      <svg>
                          <use xlink:href="#arrow-right"></use>
                      </svg>
                  </a>
              </div>
  
              <div class="box">
                  <img src="https://logitydispatch.com/wp-content/uploads/2020/10/home-trucks-img-5.jpg"
                      alt="home trucks img 5">
                  <div class="overlay"></div>
                  <a href="\">Hotshot
                      <svg>
                          <use xlink:href="#arrow-right"></use>
                      </svg>
                  </a>
              </div>
  
              <div class="box">
                  <img src="https://logitydispatch.com/wp-content/uploads/2020/10/boxtruck-article.jpg"
                      alt="boxtruck article 2">
                  <div class="overlay"></div>
                  <a href="\">Boxtruck
                      <svg>
                          <use xlink:href="#arrow-right"></use>
                      </svg>
                  </a>
              </div>
  
              <div class="box">
                  <img src="https://logitydispatch.com/wp-content/uploads/2022/11/Straight-truck_White_truck_stop_summer.webp"
                      alt="">
                  <div class="overlay"></div>
                  <a href="\">Straight truck
                      <svg>
                          <use xlink:href="#arrow-right"></use>
                      </svg>
                  </a>
              </div>
          </div>
  
      </div>
  </div>
</section>



<section class="testimonials">
  <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10">
          <span class="d-flex justify-content-between ">
              <h2 class="before title" data-aos="fade-right"> Testimonials</h2>        
              <a href="#" data-aos="fade-left" class="text-danger">Testimonials &nbsp;&nbsp;+</a>
          </span>

          <div class="wrapper">
              <div class="img">
                  <img src="https://logitydispatch.com/wp-content/uploads/2020/10/testimonials-1.webp" alt="">
              </div>
              <div class="txt">
                  <h1>Jay Sanders</h1>
                  <h3>MC # 104970</h3>
                  <p>Place my trucking business in Logity Dispatch's hands and haven't needed another dispatcher since.
                      Outstanding Communication, very knowledgeable of the business, and they don't break the bank on
                      percentage. Worth way more than other companies charging 10+ percent. Thank you, guys.</p>
              </div>
          </div>

      </div>
  </div>
</section>