@import url('/src/assets/variables.scss');


header {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);

    .toggle {
        color: var(--primary-color-light);
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        z-index: 10000;
    }

    .right-side {
        display: inline-block;
        margin-top: -6px;

        .mode {
            background: var(--primary-color-light);
            position: relative;
            border-radius: 6px;
            display: inline-block;

            .moon-sun {
                display: flex;
                align-items: center;

                i {
                    position: absolute;
                    left: -80px;
                    font-size: 1.5rem;
                    color: var(--primary-color-light);
                }
            }


            .toggle-switch {
                height: 100%;
                min-width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0;
                border-radius: 6px;

                .switch {
                    height: 22px;
                    width: 44px;
                    border-radius: 25px;
                    background: var(--toggle-color);
                    position: relative;
                    cursor: pointer;

                    &::before {
                        content: '';
                        position: absolute;
                        border-radius: 50%;
                        top: 50%;
                        left: 5px;
                        transform: translateY(-50%);
                        height: 15px;
                        width: 15px;
                        background: var(--sidebar-color);
                        transition: var(--tran-03);
                    }
                }
            }

        }
    }
}