<nav class="sidebar">
    <div class="logo-details" routerLink="/admin">
        <img src="../../../assets/logo.png" alt="">
        <span class="logo-name min">Hawkeye</span>
    </div>


    <ul class="menu-links">
        <li>
            <a routerLink="dashboard" routerLinkActive="active">
                <i class='bx bxs-dashboard icon'></i>
                <span class="nav-text min">Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="queries" routerLinkActive="active">
                <i class="fa-solid fa-message icon"></i>
                <span class="nav-text min">Queries</span>
            </a>
        </li>

        <li>
            <a routerLink="subscribers" routerLinkActive="active">
                <i class="fa-solid fa-user icon"></i>
                <span class="nav-text min">Subscribers</span>
            </a>
        </li>
        
        <li>
            <a routerLink="change-password" routerLinkActive="active">
                <i class="fa-solid fa-key icon"></i>
                <span class="nav-text min">Change Password</span>
            </a>
        </li>

    </ul>
</nav>