@import url('/src/assets/variables.scss');

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    overflow-y: auto;

    .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
            font-size: 30px;
            font-weight: 600;
            min-width: 78px;
            height: 50px;
            line-height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--text-color);
        }

        .logo-name {
            font-size: 22px;
            font-weight: 600;
            color: var(--text-color);
        }
    }

    .menu-links {
        height: 100%;
        padding-top: 30px;

        li {
            position: relative;
            transition: var(--tran-04);

            &:hover {
                background-color: var(--primary-color-light);

                .sub-menu {
                    display: block;
                }
            }

            i {
                color: var(--text-color);
                min-width: 78px;
                height: 50px;
                line-height: 50px;
                font-size: 20px;
                text-align: center;
            }

            a {
                display: flex;
                align-items: center;
                border-radius: 6px;

                .nav-text {
                    font-size: 18px;
                    font-weight: 400;
                    color: var(--text-color);
                }
            }

            .icon-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .sub-menu {
                padding: 6px 6px 14px 80px;
                margin-top: -10px;
                background-color: var(--primary-color-light);
                display: none;
                transition: var(--tran-04);

                a {
                    color: var(--text-color);
                    font-size: 15px;
                    padding: 5px 0 5px 10px;
                    white-space: nowrap;
                    opacity: .7;
                    transition: var(--tran-03);

                    &:hover {
                        opacity: 1;
                    }
                }

                &.link-name {
                    display: none;
                }

                .active {
                    background-color: var(--primary-color);

                    a {
                        color: var(--sidebar-color);
                    }
                }

            }

            .active {
                background-color: var(--primary-color);

                i,
                .nav-text {
                    color: var(--sidebar-color);
                }
            }
        }
    }


    &.close {
        width: 60px;
        padding: 10px 0;

        .min {
            opacity: 0;
            display: none;
        }

        i {
            min-width: 60px !important;
        }

        .sub-menu {
            position: absolute;
            left: 100%;
            top: -10px;
            margin-top: 0;
            padding: 10px 20px !important;
            border-radius: 0 6px 6px 0;
            transition: var(--tran-04);
            opacity: 0;
            pointer-events: none;

        }

        li:hover .sub-menu {
            top: 0;
            opacity: 1;
            pointer-events: auto;
        }
    }

}