<div class="banner" data-aos="zoom-in">
  <img src="assets/earn-reward/banner.png" alt="">
</div>


<section class="pad">
    <div class="breadcrumbs"> <h1>Earn Reward with our Referal Program</h1> </div>
    <div class="row mb-5">
      <div class="col-lg-6 main-points">
        <div class="image-wrapper">
          <img src="assets/earn-reward/box.svg" alt="">
        </div>
      </div>

      <div class="col-lg-6" style="background-color: #fff;">
        <app-form></app-form>
      </div>
    </div>


    <h2>How It Works</h2>
    <p>We believe that the best partnerships come from sharing great experiences. That’s why we’re excited to introduce our Referral Program, designed to reward you for spreading the word about our exceptional services.</p>

    <div class="step">
      <span class="count"><strong>1</strong></span>
      <div class="content">
        <span>
          <h2>Refer a Trucker:</h2>
          <p>Have a fellow who's in need of a reliable dispatching solution? Refer them to Hawkeye Freights & dispatch by simply sharing their contact information with us.</p>
        </span>
        <img src="assets/earn-reward/step1.png" alt="">
      </div>
    </div>


    <div class="step">
      <span class="count"><strong>2</strong></span>
      <div class="content">
        <span>
          <h2>Gift for Them:</h2>
          <p>Your fellow will receive an exclusive gift of 3 trial loads for free when they sign up for our services through your referral.</p>
        </span>
        <img src="assets/earn-reward/step2.png" alt="">
      </div>
    </div>
    
    
    <div class="step">
      <span class="count"><strong>3</strong></span>
      <div class="content">
        <span>
          <h2>Reward for You:</h2>
          <p>Once your fellow completes 3 trial loads using Hawkeye Freights & dispatch, we thank you for your trust and support. As a token of our appreciation, you'll receive a generous $100 gift.</p>
        </span>
        <img src="assets/earn-reward/step3.png" alt="">
      </div>
    </div>

    <p class="center-content">There is no limit to how many people you refer. For each and every new client who signs up with us because of your referral and does 3 trial loads, that’s another $100 in your pocket. You fellow must use three free loads within the first week; they will not be valid afterward.</p>

    
    <div class="row mb-5">
      <div class="col-lg-6 d-flex justify-content-start" style="background-color: #fff;">
        <app-form></app-form>
      </div>

      <div class="col-lg-6">
        <div class="image-wrapper">
          <img src="assets/earn-reward/box.svg" alt="">
        </div>
      </div>

    </div>
</section>